<h2>Your Clients</h2>
<ul>
  <% current_account.clients.each do |client| %>
    <li><%= link_to client.name, client_path(client) %></li>
  <% end %>
</ul>
<p><%= link_to 'New Client', new_client_path %></p>